  .color-picker-panel {
    border-radius: 8px;
    border: 2px solid #364347;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
  }
  #hue-canvas {
    border-radius: 8px;
    background: #ccc;
  }
  .value-fields .field-input {
    border: 1px solid #364347;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 38px;
    padding: 0 4px;
    text-align: center;
    color: #8b949a;
    font-size: 1rem;
    display: block;
  }
  #spectrum-canvas {
 
    background: #ccc;
  }
  .hue-map {
  }