<div class="containervertical">
    <header>Leaf</header>
    <p><mat-slide-toggle labelPosition="before" [(ngModel)]="leaftoggle" (ngModelChange)="leafchange()" >Aus/An</mat-slide-toggle></p>
    <div class="containerhorizontal">
        <button mat-raised-button (click)="leafbutton = 0">+</button>
        <button mat-raised-button (click)="leafbutton = 1">-</button>
    </div>
    <div class="containerhorizontal">
        <button mat-raised-button (click)="leafbutton = 2">Querlüftung</button>
        <button mat-raised-button (click)="leafbutton = 3">Sleep</button>
    </div>

</div>