<div class="containervertical">
    <header><div class="containerhorizontal">Leaf<button mat-raised-button  (click)="leafonoff()">OnOff</button></div></header>
    <div class="containerhorizontal">
        <button mat-raised-button (click)="leafbutton = 0">+</button>
        <button mat-raised-button (click)="leafbutton = 1">-</button>
    </div>
    <div class="containerhorizontal">
        <button mat-raised-button (click)="leafbutton = 2">Querlüftung</button>
        <button mat-raised-button (click)="leafbutton = 3">Sleep</button>
    </div>

</div>