mat-card-content{
   text-align: center;
   padding: 10px;
 }
 mat-grid-tile {
   border-radius: 20px;
   background: #4e9a9a;
  }
 .demo-basic-list{
    width: 540px !important;
 }
 mat-card-title{
   padding: 20px ;
   color: #384b42;
 }
 mat-card{
   border-radius: 20px;
 }
 .container{
   display: flex;
   flex-direction: column;
 }
 .icon-button .icon {
  width: 28px;
}
mat-icon{
  width: 48px;
  height: 48px;
}