mat-tab-group {
  text-align: center;
  padding: 10px;
  display: flex;
}

mat-grid-tile {
  border-radius: 20px;
  background: #4e9a9a;
}
mat-card {
  border-radius: 20px;
  width: 560px;
  height: 414px;
  
}
mat-card-title{
  padding: 20px ;
  color: #384b42;
}
button{
  margin: 10px;
}
.containerhorizontal {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}
ngx-colors{
  margin-right: 20px;
  margin-left: 20px;
}
mat-list-item{
  margin-left: 40px;
}
.headertoggle{
  margin-left: 325px;
}
.counter{
  text-align: center;
  margin-top: 10px;
}